#intro {
    padding:200px 0 100px 0;
    .container {
        width: 698px;
        text-align: center;
        h1 {
            font-size: 62px;
            font-weight: 600;
            padding: 0;
            margin: 0;
            margin-bottom: 79px;
            letter-spacing: -3.41px;
            span {
                color: $color-brand;
            }
        }
        .intro__buttons {
            display: flex;
            gap: 48px;
            justify-content: center;
            &-btn {
                @extend %button;
                padding: 20px 32px;
            }
            &-watch {
                display: flex;
                align-items: center;
                border: none;
                background-color: transparent;
                cursor: pointer;
                gap: 16px;
            }
        }
    }
}
